@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
}
.App {
  /* background-color: #1c1c1c; */
  /* height: 100%; */
}
body {
  background-color: #1c1c1c;
}

html, body, .full-height {
  /* height: 100vh; */
}

.navbar {
  padding: 10px 10%;
  display: flex;
  align-items: center;
  /* max-width: 100%; 600px; */
  margin: 0 auto;
  /* border-bottom: 1px solid black; #f2f2f2; */
  background-color: #333; /*#bbb*/
}
.navbar h2 {
  color: #f1356d;
}
.navbar .menu {
  margin-left: auto;
}
.navbar .menu .MuiIconButton-root {
  color: #f1356d;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
}

.MuiTypography-root  {
  color: #d0d0d0;
}

/*Home.js*/
.character-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.character-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.character-preview a{
  text-decoration: none;
}

/* user characters */
.UserCharacters > .MuiPaper-root  {
  background-color: #333;
  color: #333;
  margin: 10px 5px;
  padding: 5px 5px;
  border: 1px solid #d0d0d0;
}

.UserCharacters > .MuiPaper-root > .MuiBox-root {
  display: flex; 
  justify-content: space-between;
}

/* character details page */
.CharacterDetails .MuiPaper-root {
  background-color: #333;
  color: #333;
}
.CharacterDetails .MuiButtonBase-root {
  color: #d0d0d0;
}
.CharacterDetails {
  width: 75%;
  height: 75%;
  margin: auto;
}
.CharacterDetails {
  /* width: 1000px; */
  margin: auto;
}
.CharacterDetails .names {
  background-color: #333;
  padding: 20px;
}
.CharacterDetails .general-info {
  /* width: 100%; */
  background-color: #333;
  padding: 20px;
  display: flex; 
  /* justify-content: space-around; */
}
.CharacterDetails .general-info .col1 { 
  width: 35%; 
}
.CharacterDetails .general-info .col2 { 
  /* width: 55%;  */
}
.CharacterDetails .ability-scores  {
  /* background-color: #d0d0d0; */
  /* padding: 5px; */
}
.CharacterDetails .ability-scores .MuiCard-root {
  background-color: #333;
  /* padding: 10px; */
  /* margin: 5px 0; */
}
.CharacterDetails .ability-scores .MuiCard-root .MuiTypography-root {
  background-color: #333;
  width: 100%;
  display: flex; 
  justify-content: space-around;
  /* margin: auto;
  align-content: center; */
}
.CharacterDetails .modifier  {
  /* border: 1px solid #d0d0d0; */
  /* text-align: center; */
  /* justify-content: space-around; */
  display: inline-block;
  border-radius: 10px;
  /* background-color: #d0d0d0; */
}
.CharacterDetails .ability-scores .MuiCard-root .modifier .MuiTypography-root {
  /* border: 1px solid #1c1c1c; */
  width: 100%;

  background-color: #d0d0d0;
  color: #333;
  border-radius: 10px;
}
.CharacterDetails .proficiency-bonus {
  background-color: #333;
  width: 100%;
  /* padding: 20px; */
  /* display: flex;  */
}
.CharacterDetails .skills {
  background-color: #333;
  width: 100%;
  /* padding: 20px; */
  /* margin-top: 20px; */
}
.CharacterDetails .skills .row{
  display: flex; 
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
}
.CharacterDetails .speed {
  background-color: #333;
  width: 100%;
  padding: 20px;
  margin-left: 40px;
}
.CharacterDetails .saving-throws {
  background-color: #333;
  width: 100%;
  padding-bottom: 10px;
  /* padding: 20px; */
  /* margin-top: 20px; */
  /* margin-left: 40px; */
}
.CharacterDetails .equipment {
  background-color: #333;
  width: 100%;
  /* padding: 20px; */
  /* margin-top: 20px; */
  /* margin-left: 80px; */
}
.CharacterDetails .max-hp {
  background-color: #333;
  width: 100%;
  padding: 20px;
  margin-left: 80px;
}


/* PROFILE */
.profile-add-button {
  cursor: pointer;
  width: 100%;
  background-color: 'transparent'
}
.profile-add-container {
  background-color: lightgrey;
}
.Profile .MuiPaper-root {
  background-color: #333;
}
.Profile .title {
  color: #f1356d;
}
.Profile .title-container {
  border-bottom: 2px solid #d0d0d0;
}
.Profile .button-container {
  border-top: 2px solid #d0d0d0;
}
.Profile .button-container .MuiSvgIcon-root {
  color: #f1356d;
}
.Profile .MuiPaper-root .profile-container  {
  border: 2px solid #d0d0d0;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.Profile .MuiPaper-root .profile-container .session {
  display: flex; 
  justify-content: space-between;
}
.Profile .MuiPaper-root .profile-container .session .session-icons {
  display: flex; 
  justify-content: space-between;
  width: 135px;
}
.Profile .MuiPaper-root .profile-container .session .session-icons .MuiIconButton-root {
  color: #d0d0d0;
  padding: 0;
}
.Profile .MuiPaper-root .profile-container .character {
  display: flex; 
  justify-content: space-between;
}
.Profile .MuiPaper-root .profile-container .character .character-icons {
  display: flex; 
  justify-content: space-between;
  width: 175px;
}
.Profile .MuiPaper-root .profile-container .character .character-icons .MuiIconButton-root {
  color: #d0d0d0;
  padding: 0;
}



/*CHARACTER CREATOR*/
.popup-content {
  /* posicion del popup */
  position: absolute;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* misc */
  /* width: 20%; */
  /* color: #d0d0d0; */
  background-color: #333;
  border-top: 3px solid #f1356d;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .3);
  padding: 2%;
}
.popup-content .title {
  color: #f1356d;
}
.popup-content .field {
  padding-top: 5%;
}
.popup-content .field input {
  width: 100%;
  box-sizing: border-box;
}
.popup-content .field select {
  width: 100%;
  box-sizing: border-box;
}
.popup-content .field .MuiTypography-root {
  font-size: 125%;
}
.popup-content .required-message {
  padding-top: 2%;
  color: red;
  font-weight: bold;
}
.popup-content .buttons-container {
  display: flex; 
  justify-content: space-around;
}
.popup-content .MuiButtonBase-root {
  border: 2px solid  #f1356d;
}
.character-creator-title {
  display: flex; 
  justify-content: space-between;
}
.character-creator-yellow-name {
  color: #d29a38;
}
.character-creator-blue-name {
  color: #337ab7;
}
.character-creator-source {
  color: #d0d0d0;
}
.character-creator-yellow-divider {
  background-color: #d29a38;
  border: 1px solid #d29a38;
}
.character-creator-blue-divider {
  background-color: #337ab7;
  border: 1px solid #337ab7;
}
.character-creator-tabs {
  background-color: #333;
}
.MuiTab-wrapper {
  color: #d0d0d0; 
}
.character-creator-list-text {
  color: #d0d0d0;
}
.character-creator-list {
  max-height: 675; 
  overflow: auto;
  background-color: #333;
}
.ability-scores-panel .MuiTableContainer-root  {
  background-color: #333;
}

.class-panel .stats {
  background-color: #333;
}
.class-panel .details {
  background-color: #333;
}
.class-panel .create-button {
  /* margin-top: 7.5%; */
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #333;
  color: #f1356d;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}
.class-panel .details .subclass-title {
  display: flex; 
  justify-content: space-between;
}
.character-creator .MuiTabs-flexContainer {
  display: flex;
  justify-content: space-between;
}
.character-creator .MuiPaper-root {
  background-color: #1c1c1c;
  box-shadow: #1c1c1c;
}
/* .class-panel .MuiPaper-root .MuiTypography-root .MuiTypography-h5 {
  color: #d29a38;
} */

/* SESSION */
.Session {
  width: 100%;
  height: 100%;
  max-height: 80%;
  /* height: 100%; */
  /* background-color: #d0d0d0; */
}
.Session .grid .icon {
  background-color: #333;
}
.Board {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.BoardSquare {
  width: 100%;
  height: 100%;
  border: 1px solid #d29a38;
}
.CharacterIcon {
  color: #d29a38;
}
.Session .users-list {
  height: 200px;
  background-color: #333;
  padding: 20px;
  margin-bottom: 20px;
}
.Session .MuiPaper-root  {
  background-color: #333;
  color: #333;
}
.MuiInputBase-input .MuiOutlinedInput-input .MuiInputBase-inputMarginDense .MuiOutlinedInput-inputMarginDense {
  color: #d0d0d0;
}


/* login/signup forms */
.login {
  width: 100%;
  align-content: center;
}
label {
  display: block;
  margin-top: 10px;
}

/* .card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
} */

.auth-container {
  background-color: #333;
  padding: 5%;
  width: 18%;
  margin: auto;
  align-content: center;
}

.auth-container .welcome {
  width: 100%;
  margin: auto;
}

.auth-container .form-group  {
  width: 100%;
  /* text-align: center; */
  /* margin-bottom: 7%;  */
  width: 95%;
  margin: auto;
}

.auth-container .alert-danger {
  /* padding-top: 2%; */
  color: red;
  font-weight: bold;
}

.auth-container .form-group button {
  margin-top: 7.5%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #d0d0d0;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

 